<h1><%=@department.name%> Items</h1>
<h4><%=link_to "Create New Item", new_department_item_path %></h4>

<% @items.each do |taco| %>
<ul>
<li><%= link_to taco.name, department_item_path(@department,taco) %></li>
</ul>
<%end%>
